{% extends 'layout.html' %}



{% block content %}
<link rel="stylesheet" href="/css/login.css"> <!------Configurar Path del css ---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/login.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
                        <h1> REGISTRARME</h1>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">


<form class="form" method="post">
    {% csrf_token %}
    {{ form.as_p}}

    <button type="submit" id="submit">Registrarse</button>
</form>


</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}