{% extends 'layout.html' %}

{% block content %}
    <a href="{% url 'view_profile' %}" class="btn btn-dark mt-3">Volver</a>
    

    <div class="panel-body mt-4">
        <div class="row">
            <div class="col-lg-12">
                <form method="POST" enctype="multipart/form-data" id="updateProfileForm" class="profile-form">
                    {% csrf_token %}
                    <fieldset class="form-group border rounded p-4">
                        <legend class="border-bottom mb-4">Creación de Perfil</legend>
    
                        <div class="content-section mt-4">
                            <div class="media">
                                <div class="media-body">
                                    <h2 class="account-heading">{{ user.username }}</h2>
                                    <p class="text-secondary">{{ user.email }}</p>
                                </div>
                            </div>
                        </div>
    
                        <table class="table table-bordered">
                            {{ p_form.as_table }}
                        </table>
    
                    </fieldset>
    
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg" type="submit" onclick="return confirmarActualizacion()">Crear perfil</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    </div>
    
    <script>
        function confirmarActualizacion() {
            // Muestra una alerta de confirmación
            var confirmacion = confirm("¿Estás seguro de que quieres actualizar tu perfil?");

            // Si el usuario hace clic en "Aceptar", envía el formulario
            return confirmacion;
        }
    </script>

    <style>
        .content-section {
            background-color: #f8f9fa; /* Color de fondo */
            padding: 20px;
            border-radius: 10px;
        }

        .account-img {
            margin-right: 20px;
            width: 100px;
            height: 100px;
        }

        .account-heading {
            margin-bottom: 10px;
        }

        .profile-form {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .profile-form .form-group {
            margin-bottom: 20px;
        }

        .profile-form .form-group:last-child {
            margin-bottom: 0;
        }

        .profile-form button[type="submit"] {
            background-color: #007bff;
            border-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
        }

        .profile-form button[type="submit"]:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
    </style>
{% endblock content %}
